.history-item-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
    margin: 10px;
}

.history-item-id-div {
    width: 10%;
    margin-left: 5px;
}

.history-item-textinput-div {
    width: 50%;
    font-size: 1.3em;
    text-align: left;
}

.history-item-textoutput-div {
    width: 40%;
    font-size: 1.3em;
    text-align: right;
}
