.history-item-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
    margin: 10px;
}

.history-item-id-div {
    width: 10%;
    margin-left: 5px;
}

.history-item-text-div {
    width: 90%;
    font-size: 1.3em;
    text-align: center;
}
